body{
	background-color: #87D9FA;
	background-image: url(images/zelda-background.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	color: white;
	font-size: 20px;
	font-family: 'Aref Ruqaa', serif;
}


h1{
	position: absolute;
	left: 500px;
	font-weight: 10000;
	font-size: 50px;
}

.btn{
	height:100px;
}
.btn:hover{
	height: 120px;

}

.hide{
	display: none;

}

#targetNumber, #score{
	height: 50px;
	width: 70px;

	font-size: 40px;
	font-weight: 1000;
	margin-right: 10px;
	text-align: right;
}


#targetNumber{
	position: absolute;
	left: 592px;
	top: 270px

}

#score{
	position: absolute;
	left: 592px;
	top: 390px;

}


#rupees{
	margin-right: 20px;
	position: absolute;
	left: 900px;
	bottom: 50px;




}

#button1, #button2, #button3, #button4{
	margin-left: 15px;
	border: none;
	outline: none;


}


#toggle-button{
	
	background: none;
	width: 200px;	
	line-height:0px;
	padding-bottom: 30px;
	padding-top: 10px;
	border: none;
	outline: none;
	font-size: 35px;
	font-family: 'Aref Ruqaa', serif;
	opacity: 0.5;
	text-shadow: rgb(224, 224, 224) 1px 1px 0px;
	position: initial;
}


#toggle-button:hover{
	opacity: 0.5;
	color: #96A0FC;
	text-shadow: rgb(224, 224, 224) 1px 1px 0px;
}



.instructions{
 	background-color: #2A5778; 
	background: -webkit-radial-gradient(#51A2D3, #2A5778);
	width: 275px;	
	line-height: 1.25;
	padding:20px;
	border: 3px dashed white;
	font-size: 18px;
	font-family: 'Aref Ruqaa', serif;
	position: absolute;
	top: 126px;
}

#win-lose{	
 	background-color: #2A5778; 
	background: -webkit-radial-gradient(#51A2D3, #2A5778);
	width: 250px;	
	font-size: 24px;
	line-height: 1.25;
	padding:20px;
	border: 3px dashed white;
	margin-top: 50px;
	position: absolute;
	top: 85px;
	left: 980px;

}

